@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@font-face {
  font-family: 'Sequel Sans';  /* Replace with your actual font name */
  src: local('fonts'),  /* Name of the folder containing your font files */
       url('./fonts/Sequel Sans Regular.ttf') format('truetype'),  /* Regular font */
       url('./fonts/Sequel Sans Bold Body.ttf') format('truetype') format('bold'), /* Bold font */
       url('./fonts/Sequel Sans Light Disp.ttf') format('truetype') format('normal'), /* Bold font */
       /* Add similar url declarations for other variations (italic, bold-italic, etc.) */;
}


html{
  background-color: #FFFEFE;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body{
  margin: 0px 128px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.navv{
  text-decoration: none;
  color: black;
}


.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;

}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  margin-top: 32px;
}


.header-h1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h2-top-top{
  color: #2e3335;
  width: 70%;
  text-align: center;
}

.get-started-button{
  display: flex;
  gap: 16px;
}

.top-bar ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 24px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  color: #2e3335;
  font-size: 16px;
  list-style-type: none;
}

.logo{
  text-decoration: none;
  font-size: 24px;
  font-family: "Instrument Serif", serif;
  font-weight: 600;
  color: #2e3335;
}

.navigation{
  padding: 8px 16px;
}


.navv:hover{
  color: black;
}
 

/* .navigation:hover{
  background-color:#f3eeee ;
  border: none;
} */

h1{
  
  font-family: "Instrument Serif", serif;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  color: #2e3335;
  margin: 0px;
  letter-spacing: -1px;
  font-size: 64px;
  
}

.u-h1{
  text-align: center;
}



.obliques{
 color: #989898;
font-style: italic;
}


h2{
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 24px;
  padding: 4px 0px;
  font-optical-sizing: auto;
  color: #989898;
}

.h2{
  text-align: center;
}


.Sign-up-button{
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 24px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
}

.section-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
  width: 100%;
}

.sec-h1{
  display: flex;
  text-align: left;
  align-items: flex-start;
}


.secondary-heading{
  margin-top: 64px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details-grid{
  margin: 24px 0px;
  display: flex;
  gap: 16px;
}


.shell > h1{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  text-align: center;
  line-height: 64px;
  color: #2e3335;
  letter-spacing: -1px;
  font-size: 48px;
  
}



.shell{
  display: flex;
  padding: 24px;
  margin-top: 16px;
  align-items: flex-end;
  gap: 16px;
  width: 450px;
  height: 428px;
  background-color: #EFEFF0;
  border-radius: 24px;
}

.shell h3{
  color: #65696a;
}

.shell:hover{
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 50px rgba(230, 230, 230, 0.598);
}

.text-shell{
  display: flex;
  flex-direction: column;
  align-items: left;
}



.features-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.list-style-type{
  gap: 32px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.this-class{
  margin: 0px;
  color: #65696a;
}

h3{
  margin: 4px 0px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 16px;
  line-height: 24px;
}


.sec-shell{
  width: 50%;
}







/* Percentage */

.contains{
  width: 50%;
  text-align: center;
}

.inputss{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.submit-btn{
    margin-top: 16px;
}

/* new btn */

.new-btn{
  display: flex;
  gap: 8px;
  margin: 24px 0px;
}

.inputs-container{
  display: flex;
  margin: 0px 8px;
}


.submit-input{
  display: flex;
  height: 24px;
  align-items: center;
}


/* section-3  */

.section-3{
  width: 100%;
}

.new-details-grid{
  display: flex;
  gap: 16px;
  overflow-x: hidden;
}

.wrap-grid{
  margin:32px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrap-shell{
  width: 400px;
  height: 480px;
  background-color: #EFEFF0;
  border-radius: 24px;
}

.up-h1{
  font-size: 42px;
}

/* section-4 */

.top-nav-sec{
  margin: 64px 0px;
}

.sec-sec-h1{
text-align: center;
}

.sec-se h3{
  text-align: center;
  width: 50%;
  }