@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@font-face {
  font-family: 'Sequel Sans';  /* Replace with your actual font name */
  src: local('fonts'),  /* Name of the folder containing your font files */
       url('./fonts/Sequel Sans Regular.ttf') format('truetype'),  /* Regular font */
       url('./fonts/Sequel Sans Bold Body.ttf') format('truetype') format('bold'), /* Bold font */
       url('./fonts/Sequel Sans Light Disp.ttf') format('truetype') format('normal'), /* Bold font */
       /* Add similar url declarations for other variations (italic, bold-italic, etc.) */;
}


html{
  background-color: #FFFEFE;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body{
  margin: 0px 128px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.navv{
  text-decoration: none;
  color: black;
}


.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;

}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 168px;
}


.header-h1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h2-top-top{
  color: #2e3335;
  width: 50%;
  text-align: center;
}

.get-started-button{
  display: flex;
  gap: 16px;
}

.top-bar ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 24px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #2e3335;
  font-size: 16px;
  list-style-type: none;
}

.logo{
  text-decoration: none;
  font-size: 24px;
  font-family: "Instrument Serif", serif;
  font-weight: 600;
  color: #2e3335;
}

.navigation{
  padding: 8px 16px;
}


.navv:hover{
  color: black;
}
 

/* .navigation:hover{
  background-color:#f3eeee ;
  border: none;
} */

h1{
  
  font-family: "Instrument Serif", serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 64px;
  color: #2e3335;
  margin: 0px;
  letter-spacing: -1px;
  font-size: 64px;
  
}



.obliques{
 color: #6F6E73;
  font-style: italic;
}

h2{
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 16px;
  padding: 4px 0px;
  font-optical-sizing: auto;
  color: #65696a;
  
}

.h2{
  text-align: center;
}


.Sign-up-button{
  font-family: "Instrument Serif", serif;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 24px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
}

.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.secondary-heading{
  margin-top: 64px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.features-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.list-style-type{
  gap: 32px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.this-class{
  margin: 0px;
  color: #65696a;
}

h3{
  margin: 4px 0px;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 16px;
  line-height: 24px;
}

/* section-3 */
.section-3{
  margin: 64px 0px;
}

.box{
  background-color: #65696a;
  width: 100%;
  height: 360px;
  justify-content: center;
}


.section-div{
  margin: 42px 0px;
}


.setH1{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Percentage */

.contains{
  width: 50%;
  text-align: center;
}

.inputss{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.submit-btn{
    margin-top: 16px;
}

/* new btn */

.new-btn{
  display: flex;
  gap: 8px;
  margin: 24px 0px;
}

.inputs-container{
  display: flex;
  margin: 0px 8px;
}


.submit-input{
  display: flex;
  height: 24px;
  align-items: center;
}